* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {    
    justify-content: center;
    width: 90%;
    margin: auto;    
}

.search{
    margin :30px;
}


input {
    width: 50%;
    margin: 10px;
}

.links {
    display: flex;    
    justify-content: center;
    font-size: small;
    width: 90%;
    margin: 50px 20px;
}

.links > div {
    width: 33%;
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input#email{
 width: 70%;
}

.footer {
    font-size: small;
    margin-top: 100px;
}